# Byte-compiled
__pycache__/
*.pyc

# sqlite
/*.sqlite3

# test coverage
.coverage
cover/
htmlcov/

# IDE
.idea

# migrations
vocabs/migrations/*
webpage/migrations/*


# Ipython Notebook checkpoints
.ipynb_checkpoints

# Ipython Notebook
.ipynb

# envs

env/
server.py
s_wsgy.py
.env_dev
.secret
vocabseditor/settings/pg_local.py
.env_secret
media/uploads/*.rdf
media/uploads/*.ttl
requirements_dev.txt

*.ipynb

schnitzler-bahr-static.xpr
data/
html/dist/
saxon/
html/*.html
html/*.xml
html/*.rdf
html/*.txt
html/*.pdf
html/search.html
html/*.js
secret.sh
html/js-data/*.js
html/faulty.csv
chronik-data/
/static-search
stopwords.txt
words.txt
/venv
html/js-data/calendarData.js
/network-data
hansi.ttl
play.*
metadata
html/arche.ttl
/to_ingest
/fc_out