name: ARCHE-Ingest-Binaries

on:
  workflow_dispatch:
    inputs:
      debug:
        description: Should remote console be turned on before running the ingestion?
        type: boolean
        required: true
        default: false

jobs:
  build_pages:
    name: Ingest Data into ARCHE
    runs-on: ubuntu-latest
    env:
      ARCHE_USER: pandorfer
      ARCHE_PASSWORD: ${{secrets.ARCHE_PASSWORD}}
      ARCHE: https://arche.acdh.oeaw.ac.at/api
      TOPCOLID: https://id.acdh.oeaw.ac.at/schnitzler/schnitzler-briefe
    steps:
    - name: Perform Checkout
      uses: actions/checkout@v4
    - name: install python things
      run: pip install -r requirements.txt
    - name: Fetch the data
      run: ./fetch_data.sh
    - name: check and delete faulty files
      run: python python/delete_faulty_files.py
    - name: add mentions
      run: python python/add_mentions.py
    - name: create arche metadata
      run: python arche/make_metadata.py
    - if: ${{ inputs.debug }}
      uses: mxschmitt/action-tmate@v3
    - name: run binaries import
      run: ./arche/arche__ingest_binaries.sh
    
